@theme inline {
  --color-arrowlake-dark-bg: oklch(from #0D0C25 l c h);
  --color-arrowlake-dark-bg-active-parameter: oklch(from ${backgrounds.active_parameter} l c h);
  --color-arrowlake-dark-bg-dark: oklch(from #09081a l c h);
  --color-arrowlake-dark-bg-darker: oklch(from #070614 l c h);
  --color-arrowlake-dark-bg-float: oklch(from #070614 l c h);
  --color-arrowlake-dark-bg-highlight: oklch(from #161440 l c h);
  --color-arrowlake-dark-bg-hover: oklch(from #161440 l c h);
  --color-arrowlake-dark-bg-menu-sel: oklch(from #161440 l c h);
  --color-arrowlake-dark-bg-search: oklch(from #161440 l c h);
  --color-arrowlake-dark-bg-search-current: oklch(from #691351 l c h);
  --color-arrowlake-dark-bg-sidebar: oklch(from #070614 l c h);
  --color-arrowlake-dark-bg-status: oklch(from #09081a l c h);
  --color-arrowlake-dark-bg-visual: oklch(from #161440 l c h);
  --color-arrowlake-dark-ai: oklch(from #33D4B4 l c h);
  --color-arrowlake-dark-black: oklch(from #070614 l c h);
  --color-arrowlake-dark-black-bright: oklch(from #312e55 l c h);
  --color-arrowlake-dark-blue: oklch(from #3F3BF5 l c h);
  --color-arrowlake-dark-blue-bright: oklch(from #4f4cff l c h);
  --color-arrowlake-dark-regexp: oklch(from #9AC1E5 l c h);
  --color-arrowlake-dark-border: oklch(from #312e55 l c h);
  --color-arrowlake-dark-border-highlight: oklch(from #3F3BF5 l c h);
  --color-arrowlake-dark-comment: oklch(from #5c6296 l c h);
  --color-arrowlake-dark-cyan: oklch(from #33D4B4 l c h);
  --color-arrowlake-dark-cyan-bright: oklch(from #00e5c0 l c h);
  --color-arrowlake-dark-directory: oklch(from ${syntax.title} l c h);
  --color-arrowlake-dark-diff-add: oklch(from #111f30 l c h);
  --color-arrowlake-dark-diff-change: oklch(from #42393b l c h);
  --color-arrowlake-dark-diff-delete: oklch(from #2d0a2b l c h);
  --color-arrowlake-dark-diff-text: oklch(from #152d37 l c h);
  --color-arrowlake-dark-error: oklch(from #E50050 l c h);
  --color-arrowlake-dark-fg: oklch(from #bec8e8 l c h);
  --color-arrowlake-dark-fg-dark: oklch(from #7e85b8 l c h);
  --color-arrowlake-dark-fg-float: oklch(from #bec8e8 l c h);
  --color-arrowlake-dark-fg-gutter: oklch(from #312e55 l c h);
  --color-arrowlake-dark-fg-sidebar: oklch(from #5c6296 l c h);
  --color-arrowlake-dark-git-add: oklch(from #2A8A6B l c h);
  --color-arrowlake-dark-git-change: oklch(from #FFD888 l c h);
  --color-arrowlake-dark-git-delete: oklch(from #E50050 l c h);
  --color-arrowlake-dark-git-ignore: oklch(from #5c6296 l c h);
  --color-arrowlake-dark-green: oklch(from #2A8A6B l c h);
  --color-arrowlake-dark-hint: oklch(from #33D4B4 l c h);
  --color-arrowlake-dark-info: oklch(from #5352CD l c h);
  --color-arrowlake-dark-attention: oklch(from #D91C87 l c h);
  --color-arrowlake-dark-link: oklch(from #33D4B4 l c h);
  --color-arrowlake-dark-magenta: oklch(from #D91C87 l c h);
  --color-arrowlake-dark-magenta-bright: oklch(from #f50097 l c h);
  --color-arrowlake-dark-match: oklch(from #5352CD l c h);
  --color-arrowlake-dark-primary: oklch(from #3F3BF5 l c h);
  --color-arrowlake-dark-orange: oklch(from #FB9B00 l c h);
  --color-arrowlake-dark-operator: oklch(from #9AC1E5 l c h);
  --color-arrowlake-dark-purple: oklch(from #834CCF l c h);
  --color-arrowlake-dark-secondary: oklch(from #5352CD l c h);
  --color-arrowlake-dark-rainbow1: var(--color-arrowlake-dark-blue);
  --color-arrowlake-dark-rainbow2: var(--color-arrowlake-dark-yellow);
  --color-arrowlake-dark-rainbow3: var(--color-arrowlake-dark-green);
  --color-arrowlake-dark-rainbow4: var(--color-arrowlake-dark-cyan);
  --color-arrowlake-dark-rainbow5: var(--color-arrowlake-dark-magenta);
  --color-arrowlake-dark-rainbow6: var(--color-arrowlake-dark-purple);
  --color-arrowlake-dark-rainbow7: var(--color-arrowlake-dark-orange);
  --color-arrowlake-dark-rainbow8: var(--color-arrowlake-dark-red);
  --color-arrowlake-dark-red: oklch(from #E50050 l c h);
  --color-arrowlake-dark-red-bright: oklch(from #fd0059 l c h);
  --color-arrowlake-dark-error: oklch(from #E50050 l c h);
  --color-arrowlake-dark-scope: oklch(from #5352CD l c h);
  --color-arrowlake-dark-success: oklch(from #2A8A6B l c h);
  --color-arrowlake-dark-cyan: oklch(from #33D4B4 l c h);
  --color-arrowlake-dark-list: oklch(from #9AC1E5 l c h);
  --color-arrowlake-dark-todo: oklch(from #5352CD l c h);
  --color-arrowlake-dark-title: oklch(from ${syntax.title} l c h);
  --color-arrowlake-dark-trace: oklch(from #834CCF l c h);
  --color-arrowlake-dark-warning: oklch(from #FB9B00 l c h);
  --color-arrowlake-dark-yellow: oklch(from #FFD888 l c h);
  --color-arrowlake-dark-yellow-bright: oklch(from #ffe8c2 l c h);
}