@theme inline {
  --color-arrowlake-light-bg: oklch(from #ebe0cf l c h);
  --color-arrowlake-light-bg-active-parameter: oklch(from ${backgrounds.active_parameter} l c h);
  --color-arrowlake-light-bg-dark: oklch(from #e3d7c7 l c h);
  --color-arrowlake-light-bg-darker: oklch(from #DED0BF l c h);
  --color-arrowlake-light-bg-float: oklch(from #DED0BF l c h);
  --color-arrowlake-light-bg-highlight: oklch(from #d4c6b3 l c h);
  --color-arrowlake-light-bg-hover: oklch(from #d4c6b3 l c h);
  --color-arrowlake-light-bg-menu-sel: oklch(from #d4c6b3 l c h);
  --color-arrowlake-light-bg-search: oklch(from #d4c6b3 l c h);
  --color-arrowlake-light-bg-search-current: oklch(from #a8cabe l c h);
  --color-arrowlake-light-bg-sidebar: oklch(from #DED0BF l c h);
  --color-arrowlake-light-bg-status: oklch(from ${status.bg} l c h);
  --color-arrowlake-light-bg-visual: oklch(from #d4c6b3 l c h);
  --color-arrowlake-light-ai: oklch(from #CF9978 l c h);
  --color-arrowlake-light-black: oklch(from #DED0BF l c h);
  --color-arrowlake-light-black-bright: oklch(from #ad9b88 l c h);
  --color-arrowlake-light-blue: oklch(from #4A74A8 l c h);
  --color-arrowlake-light-blue-bright: oklch(from #3782cb l c h);
  --color-arrowlake-light-regexp: oklch(from #6a8b89 l c h);
  --color-arrowlake-light-border: oklch(from #87786c l c h);
  --color-arrowlake-light-border-highlight: oklch(from #6660AF l c h);
  --color-arrowlake-light-comment: oklch(from #87786c l c h);
  --color-arrowlake-light-cyan: oklch(from #56AEA9 l c h);
  --color-arrowlake-light-cyan-bright: oklch(from #2dc0ba l c h);
  --color-arrowlake-light-directory: oklch(from ${syntax.title} l c h);
  --color-arrowlake-light-diff-add: oklch(from #d3d0c0 l c h);
  --color-arrowlake-light-diff-change: oklch(from #ded0b2 l c h);
  --color-arrowlake-light-diff-delete: oklch(from #e4c9be l c h);
  --color-arrowlake-light-diff-text: oklch(from #c2c4b4 l c h);
  --color-arrowlake-light-error: oklch(from #BC495D l c h);
  --color-arrowlake-light-fg: oklch(from #54473f l c h);
  --color-arrowlake-light-fg-dark: oklch(from #6c5e55 l c h);
  --color-arrowlake-light-fg-float: oklch(from #54473f l c h);
  --color-arrowlake-light-fg-gutter: oklch(from #ad9b88 l c h);
  --color-arrowlake-light-fg-sidebar: oklch(from #87786c l c h);
  --color-arrowlake-light-git-add: oklch(from #4E7469 l c h);
  --color-arrowlake-light-git-change: oklch(from #AE984C l c h);
  --color-arrowlake-light-git-delete: oklch(from #BC495D l c h);
  --color-arrowlake-light-git-ignore: oklch(from #87786c l c h);
  --color-arrowlake-light-green: oklch(from #4E7469 l c h);
  --color-arrowlake-light-hint: oklch(from #56AEA9 l c h);
  --color-arrowlake-light-info: oklch(from #4A74A8 l c h);
  --color-arrowlake-light-attention: oklch(from #C16C90 l c h);
  --color-arrowlake-light-link: oklch(from #CF9978 l c h);
  --color-arrowlake-light-magenta: oklch(from #C16C90 l c h);
  --color-arrowlake-light-magenta-bright: oklch(from #db719f l c h);
  --color-arrowlake-light-match: oklch(from #4A74A8 l c h);
  --color-arrowlake-light-primary: oklch(from #6660AF l c h);
  --color-arrowlake-light-orange: oklch(from #CF9978 l c h);
  --color-arrowlake-light-operator: oklch(from #6a8b89 l c h);
  --color-arrowlake-light-purple: oklch(from #6660AF l c h);
  --color-arrowlake-light-secondary: oklch(from #4A74A8 l c h);
  --color-arrowlake-light-rainbow1: var(--color-arrowlake-light-blue);
  --color-arrowlake-light-rainbow2: var(--color-arrowlake-light-yellow);
  --color-arrowlake-light-rainbow3: var(--color-arrowlake-light-green);
  --color-arrowlake-light-rainbow4: var(--color-arrowlake-light-cyan);
  --color-arrowlake-light-rainbow5: var(--color-arrowlake-light-magenta);
  --color-arrowlake-light-rainbow6: var(--color-arrowlake-light-purple);
  --color-arrowlake-light-rainbow7: var(--color-arrowlake-light-orange);
  --color-arrowlake-light-rainbow8: var(--color-arrowlake-light-red);
  --color-arrowlake-light-red: oklch(from #BC495D l c h);
  --color-arrowlake-light-red-bright: oklch(from #e43b5f l c h);
  --color-arrowlake-light-error: oklch(from #BC495D l c h);
  --color-arrowlake-light-scope: oklch(from #4A74A8 l c h);
  --color-arrowlake-light-success: oklch(from #4E7469 l c h);
  --color-arrowlake-light-cyan: oklch(from #56AEA9 l c h);
  --color-arrowlake-light-list: oklch(from #6a8b89 l c h);
  --color-arrowlake-light-todo: oklch(from #4A74A8 l c h);
  --color-arrowlake-light-title: oklch(from ${syntax.title} l c h);
  --color-arrowlake-light-trace: oklch(from #6660AF l c h);
  --color-arrowlake-light-warning: oklch(from #AE984C l c h);
  --color-arrowlake-light-yellow: oklch(from #AE984C l c h);
  --color-arrowlake-light-yellow-bright: oklch(from #c2a525 l c h);
}